button {
	font-family: monospace;
	font-size: 8em;
	font-weight: 900;
	outline: none;
	border: none;
	border-radius: 1em;
	box-shadow: 
		.05em .1em .01em .01em #003,
		inset .05em .1em .01em .01em #ffa8;
	background-color: blue;
	color: white;
	padding: .62em;
	animation: scale-easeInElastic 1.2s linear .3s reverse both;
	transition: box-shadow .2s ease-out;
}

button:first-of-type {
	animation-delay: 0s;
}

button:hover {
	box-shadow: 
		.1em .2em .01em .01em #0038,
		inset .1em .2em .01em .01em #ffa8;
}

button:active {
	color: #ff0;
	box-shadow: 
		.1em .2em .01em .01em #003f,
		inset .1em .2em .01em .01em #ff0f;
}

@keyframes scale-easeInElastic {
	0% {
		transform: scale(1);
	}

	4% {
		transform: scale(1);
	}

	8% {
		transform: scale(1);
	}

	14% {
		transform: scale(1);
	}

	18% {
		transform: scale(1);
	}

	26% {
		transform: scale(1.01);
	}

	28% {
		transform: scale(1.01);
	}

	40% {
		transform: scale(0.98);
	}

	42% {
		transform: scale(0.98);
	}

	56% {
		transform: scale(1.05);
	}

	58% {
		transform: scale(1.04);
	}

	72% {
		transform: scale(0.87);
	}

	86% {
		transform: scale(1.37);
	}

	100% {
		transform: scale(0);
	}

}
