button {
	font-size: 4em;
	font-weight: 900;
	outline: none;
	border: .1em solid black;
	border-radius: 1em;
	box-shadow: .1em .2em 0 0 #111;
	background-color: blue;
	color: white;
	width: 10em;
	height: 3em;
}
