body { 
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fffff7;
} 

stop-watch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
stop-watch * + * {
	margin-top: 1em;
}
