body { 
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
} 

stop-watch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
stop-watch * + * {
	margin-top: 1em;
}
